body {
  background-color: #555;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: purple;
  background-color: #fff;
  padding: 2vmin 5vmin;
  font-family: helvetica;
  font-weight: 200;
}

.container {
  background-color: rgb(168, 140, 160);
  width: 70vmin;
  height: 70vmin;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.grid-square {
  border: 1px solid #fff;
  width: 17.24vmin;
  aspect-ratio: 1/1;
}

.grid-square:hover {
  background-color: aqua;
}